@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  scroll-behavior: smooth;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.font-cabin{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
}