@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  scroll-behavior: smooth;


  font-optical-sizing: auto;

}

.navbar-box-shadow{
  -webkit-box-shadow: 0px 6px 12px 3px rgba(61,61,61,0.09);
  -moz-box-shadow: 0px 6px 12px 3px rgba(61,61,61,0.09);
  box-shadow: 0px 6px 12px 3px rgba(61,61,61,0.09);
}

.home-bg-img{
  background-image: url("assets/bbblurry.svg");
  background-size: 100%;
}
.solution-bg-img{
  background-image: url("assets/mesh-920.png");
  background-size: 100%;
}

.home-qrcode-container{
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  height: max-content;
  

    img{
      width: 150px;
      background: #ffffff;
    }
}
.iphone{
  background-color: #7371ee;
  background-image: linear-gradient(60deg, #7371ee 1%,#a1d9d6 100%);
  position: relative;
}
.iphone::before{
  position: absolute;
  content: "";
  top: 0px;
  width: 53%;
  height: 23px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 20px 20px;
  left: 50%;
  transform: translateX(-50%);

}
.iphone-speaker, .iphone-camera{
  position: absolute;
  display: block;
  color: transparent;
}
.iphone-speaker{    

  top: 0px;
  left: 50%;
  transform: translate(-50%, 3px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
}
.iphone-camera{
  left: 60%;
  top: 0px;
  transform: translate(60%, 1px);
  width: 12px;
  height: 12px;
  background-color: #101010;
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
}
.iphone-camera::after{
  content: '';
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}
.iphone-screen-top{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding: 6px 13px 0 13px;
  color: #ffffff;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  height:23px;
}


